################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/UE_UniversalCheat/x64
/x64
/PerformanzeTest
